<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/sharing-page.css">
    <title>Share</title>
</head>
<body>

<nav>
    <div class="wrapper">
        <object data="/images/cloudcom_logo.png" width="60" height="60"></object>
        <div class="logo"><a href="/home">CloudCom</a></div>
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/operations">Operations</a></li>
            <li><a href="/share" class="desktop-item">Share tokens</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </div>
</nav>

<form action="/share" method="post" class="cool-form">
    <div class="form-group">
        <span>Paste a name</span>
        <input class="form-field" type="text" placeholder="Receiver" name="receiverName">
    </div>

    <div class="form-group">
        <input class="form-field" type="number" placeholder="Tokens" name="tokensToSend">
        <span>Just a number</span>
    </div>

    <input type="submit" value="Share">
</form>

</body>
</html>