<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<link rel="stylesheet" href="style.css">-->
    <title>Share</title>
</head>
<body>

<!-- <nav>
    <div class="wrapper">
        <object data="/images/cloudcom_logo.png" width="60" height="60"></object>
        <div class="logo"><a href="/home">CloudCom</a></div>
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/operations">Operations</a></li>
            <li><a href="/share" class="desktop-item">Share tokens</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </div>
</nav> -->


<h1>Simple HTML Form</h1>

<form action="/share" method="post">

    <label>Who do you want to send your tokens to?</label>
    <input type="text" name="receiverName" required><br><br>
    <label>Amount of tokens</label>
    <input type="number" name="tokensToSend" required><br><br>
    <input type="submit" value="Send">

</form>

</body>
</html>